extends template

block content
    h1 Home Page
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ipsum quam repellat tenetur numquam, alias incidunt laborum quasi necessitatibus impedit hic sed vitae! Reprehenderit fugit maiores eos, natus culpa corporis!